<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电子小血包</title>
</head>
<body>
    <h1>电子小血包</h1>
            {% for question in questions %}
                <p>{{ question.content }}</p>
                {% for option in question.options %}
                    <input type="radio" name="{{ question.id }}" value="{{ option.id }}" id="{{ option.id }}">
                    <label for="{{ option.id }}">{{ option.content }}</label>
                    <br>
                {% endfor %}
            {% endfor %}
            <button type="submit">提交</button>
</body>
</html>
